@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
.text-white{
	color: white;
}
.Brand{
	font-family: 'Ma Shan Zheng', cursive;
}
#navBar{
	background-color: #6E00FF;
}
#navBar hr{
	height: 2px !important;
    background: white;
    margin: 0px ;
}
#main .mainBackground{
	background-color: #6E00FF;
	height: 50%;
	width: 100%;
}

#main img{
	width: 90%;
	height: 95%;
}
#main ul{
	font-size: 50px; 
}

#main_card .row,
#quotes .container{
	background-color: #6E00FF;
	border-radius: 1rem;
}
#main_card img{
	width: 20rem;
	border-radius: 0.5rem;
}
#footer footer{
	background-color: #6E00FF;
}
#footer ul{
  list-style-type: none;
  font-size: 20px;
}


.shadeborder{
	border: 0.05rem solid #EBEBEB;
	border-radius: 0.5rem;
	-webkit-box-shadow: 10px 13px 0px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 10px 13px 0px -1px rgba(0,0,0,0.2);
	box-shadow: 10px 13px 0px -1px rgba(0,0,0,0.2);
}

.border{
	margin: 1rem;
	border: 0.1rem solid black;
	border-radius: 0.5rem; 
}